<div class="background-container">
  {# Circles #}
  <div class="circle one"></div>
  <div class="circle two"></div>
  <div class="circle three"></div>

  {# Wave SVG 1 #}
  <div class="wave one">
    <svg
      width="2085"
      height="324"
      viewBox="0 0 2085 324"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g filter="url(#filter0_d_463_402)">
        <path
          d="M0 177.288L69.5 157.757C139 137.859 278 99.3473 417 99.0722C556 99.3473 695 137.859 834 138.134C973 137.859 1147 59.546 1286 39.6482C1425 20.1171 1529 20.1173 1668 39.6484C1807 59.5462 1946 137.859 2015.5 157.757L2085 177.288V324H2015.5C1946 324 1807 324 1668 324C1529 324 1390 324 1251 324C1112 324 973 324 834 324C695 324 556 324 417 324C278 324 139 324 69.5 324H0V177.288Z"
          fill="#FF872B"
        />
      </g>
      <defs>
        <filter
          id="filter0_d_463_402"
          x="-20"
          y="0"
          width="2125"
          height="339"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feColorMatrix
            in="SourceAlpha"
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
            result="hardAlpha"
          />
          <feOffset dy="-5" />
          <feGaussianBlur stdDeviation="10" />
          <feComposite in2="hardAlpha" operator="out" />
          <feColorMatrix
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0"
          />
          <feBlend
            mode="normal"
            in2="BackgroundImageFix"
            result="effect1_dropShadow_463_402"
          />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="effect1_dropShadow_463_402"
            result="shape"
          />
        </filter>
      </defs>
    </svg>
  </div>

  {# Wave SVG 2 #}
  <div class="wave two">
    <svg
      width="2085"
      height="919"
      viewBox="0 0 2085 919"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M0 468.069L69.5 408.039C139 346.882 278 228.512 417 227.667C556 228.512 695 346.882 834 347.727C973 346.882 1147 106.18 1286 45.0223C1425 -15.0079 1529 -15.0072 1668 45.0229C1807 106.18 1946 346.882 2015.5 408.039L2085 468.069V919H2015.5C1946 919 1807 919 1668 919C1529 919 1390 919 1251 919C1112 919 973 919 834 919C695 919 556 919 417 919C278 919 139 919 69.5 919H0V468.069Z"
        fill="#FF872B"
      />
    </svg>
  </div>
</div>
