<div class="footer">
  <div class="footer-container">
    <img src="/assets/logo.png" alt="logo" />
    <div class="left-side">
      <p class="builtby">Built by Holy.dev</p>
      <p class="copyrights">&copy; 2025, All Rights Reserved</p>
    </div>
  </div>
</div>
